USE [master]
GO
/****** Object:  Database [bd_banca_inc_negocio]    Script Date: 8/08/2025 21:06:23 ******/
CREATE DATABASE [bd_banca_inc_negocio]


ALTER DATABASE [bd_banca_inc_negocio] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_banca_inc_negocio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_banca_inc_negocio]
GO
/****** Object:  Table [dbo].[desviaciones_indicadores]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[desviaciones_indicadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[registro_diario_indicador_id] [int] NOT NULL,
	[diferencia_absoluta] [decimal](9, 2) NOT NULL,
	[diferencia_porcentual] [decimal](9, 2) NOT NULL,
	[clasificación] [varchar](155) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](155) NOT NULL,
	[apellidos] [varchar](155) NOT NULL,
	[numero_registro] [char](6) NOT NULL,
	[cargo] [varchar](100) NULL,
	[unidad] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[celular] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[indicadores]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[indicadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NULL,
	[tipo_indicador_id] [int] NULL,
	[codigo] [char](6) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[unidad_medida] [varchar](100) NOT NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registros_indicadores_diarios]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registros_indicadores_diarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sucursal_id] [int] NULL,
	[indicador_id] [int] NULL,
	[fecha_reporte] [date] NULL,
	[valor_real] [decimal](9, 2) NULL,
	[valor_meta] [decimal](9, 2) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[create_by] [int] NULL,
	[update_by] [int] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zona_ubigeo_id] [int] NULL,
	[gerente_id] [int] NULL,
	[codigo] [varchar](6) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[direccion] [nvarchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[telefono] [varchar](20) NULL,
	[coordenada_gps] [geography] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_indicador]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_indicador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[descripcion] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubigeos]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubigeos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ubigeo] [char](6) NOT NULL,
	[departamento] [varchar](100) NOT NULL,
	[provincia] [varchar](155) NOT NULL,
	[distrito] [varchar](155) NOT NULL,
	[region_natural] [varchar](55) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zona_ubigeos]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zona_ubigeos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zona_id] [int] NOT NULL,
	[ubigeo_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zonas]    Script Date: 8/08/2025 21:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zonas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](6) NOT NULL,
	[nombre] [varchar](155) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([id], [nombres], [apellidos], [numero_registro], [cargo], [unidad], [email], [celular]) VALUES (1, N'Rafaela', N'Plaza', N'604876', N'Supervisor de Operaciones', N'Planificación', N'lpalma@gmail.com', N'421948924')
INSERT [dbo].[empleados] ([id], [nombres], [apellidos], [numero_registro], [cargo], [unidad], [email], [celular]) VALUES (2, N'Charo', N'Cabrero', N'565938', N'Analista de Negocio', N'Operaciones', N'qvazquez@gmail.com', N'160975351')
INSERT [dbo].[empleados] ([id], [nombres], [apellidos], [numero_registro], [cargo], [unidad], [email], [celular]) VALUES (3, N'Nieves', N'Cisneros', N'871158', N'Subgerente Regional', N'Recursos Humanos', N'matacarmen@yahoo.com', N'858398947')
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[indicadores] ON 

INSERT [dbo].[indicadores] ([id], [empleado_id], [tipo_indicador_id], [codigo], [nombre], [unidad_medida], [descripcion]) VALUES (1, 1, 1, N'IND001', N'Colocaciones Diarias', N'Monto (S/.)', N'Monto total colocado en créditos diarios por sucursal')
INSERT [dbo].[indicadores] ([id], [empleado_id], [tipo_indicador_id], [codigo], [nombre], [unidad_medida], [descripcion]) VALUES (2, 2, 1, N'IND002', N'Captación de Ahorros', N'Monto (S/.)', N'Monto diario captado en cuentas de ahorro')
INSERT [dbo].[indicadores] ([id], [empleado_id], [tipo_indicador_id], [codigo], [nombre], [unidad_medida], [descripcion]) VALUES (3, 3, 2, N'IND003', N'Transacciones Totales', N'Número', N'Número total de transacciones procesadas en el día')
SET IDENTITY_INSERT [dbo].[indicadores] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_indicador] ON 

INSERT [dbo].[tipos_indicador] ([id], [nombre], [descripcion]) VALUES (1, N'Financiero', N'Indicadores relacionados al desempeño económico y rentabilidad del banco, como colocaciones, depósitos, ingresos y márgenes.')
INSERT [dbo].[tipos_indicador] ([id], [nombre], [descripcion]) VALUES (2, N'Operativo', N'Indicadores que miden la eficiencia de los procesos internos, como tiempos de atención, cumplimiento de tareas o volumen procesado.')
INSERT [dbo].[tipos_indicador] ([id], [nombre], [descripcion]) VALUES (3, N'Atención al Cliente', N'Indicadores relacionados con la experiencia del cliente, como tiempos de espera, reclamos atendidos, encuestas de satisfacción.')
SET IDENTITY_INSERT [dbo].[tipos_indicador] OFF
GO
SET IDENTITY_INSERT [dbo].[ubigeos] ON 

INSERT [dbo].[ubigeos] ([id], [ubigeo], [departamento], [provincia], [distrito], [region_natural]) VALUES (1, N'010101', N'AMAZONAS', N'CHACHAPOYAS', N'CHACHAPOYAS', N'SIERRA')
INSERT [dbo].[ubigeos] ([id], [ubigeo], [departamento], [provincia], [distrito], [region_natural]) VALUES (2, N'010102', N'AMAZONAS', N'CHACHAPOYAS', N'ASUNCION', N'SIERRA')
INSERT [dbo].[ubigeos] ([id], [ubigeo], [departamento], [provincia], [distrito], [region_natural]) VALUES (3, N'010103', N'AMAZONAS', N'CHACHAPOYAS', N'BALSAS', N'SELVA ALTA')
GO
SET IDENTITY_INSERT [dbo].[ubigeos] OFF
GO
/****** Object:  Index [UQ__desviaci__9719ACE259FFE9A8]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[desviaciones_indicadores] ADD UNIQUE NONCLUSTERED 
(
	[registro_diario_indicador_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__2E4973E7B191EEFF]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[empleados] ADD UNIQUE NONCLUSTERED 
(
	[celular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__5C8FBBD7EE714728]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[empleados] ADD UNIQUE NONCLUSTERED 
(
	[numero_registro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__AB6E6164E3449CFB]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[empleados] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__indicado__40F9A206EA2463D3]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[indicadores] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__indicado__72AFBCC6139EEEED]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[indicadores] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sucursal__2A16D945591EFD9D]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[sucursales] ADD UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sucursal__40F9A206493ADAA8]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[sucursales] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sucursal__636D81ABC087CC94]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[sucursales] ADD UNIQUE NONCLUSTERED 
(
	[direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sucursal__72AFBCC6AB48F593]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[sucursales] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sucursal__AB6E6164006628FD]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[sucursales] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tipos_in__72AFBCC6E8F1FF7A]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[tipos_indicador] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ubigeos__3126FF0059DC4C82]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[ubigeos] ADD UNIQUE NONCLUSTERED 
(
	[ubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__zonas__40F9A206D6B6CE0B]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[zonas] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__zonas__72AFBCC6DF681B33]    Script Date: 8/08/2025 21:06:25 ******/
ALTER TABLE [dbo].[zonas] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[registros_indicadores_diarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[desviaciones_indicadores]  WITH CHECK ADD  CONSTRAINT [fk_registro_diario_indicador] FOREIGN KEY([registro_diario_indicador_id])
REFERENCES [dbo].[registros_indicadores_diarios] ([id])
GO
ALTER TABLE [dbo].[desviaciones_indicadores] CHECK CONSTRAINT [fk_registro_diario_indicador]
GO
ALTER TABLE [dbo].[indicadores]  WITH CHECK ADD FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
GO
ALTER TABLE [dbo].[indicadores]  WITH CHECK ADD FOREIGN KEY([tipo_indicador_id])
REFERENCES [dbo].[tipos_indicador] ([id])
GO
ALTER TABLE [dbo].[registros_indicadores_diarios]  WITH CHECK ADD FOREIGN KEY([indicador_id])
REFERENCES [dbo].[indicadores] ([id])
GO
ALTER TABLE [dbo].[registros_indicadores_diarios]  WITH CHECK ADD  CONSTRAINT [fk_sucursal_indicador_id] FOREIGN KEY([sucursal_id])
REFERENCES [dbo].[sucursales] ([id])
GO
ALTER TABLE [dbo].[registros_indicadores_diarios] CHECK CONSTRAINT [fk_sucursal_indicador_id]
GO
ALTER TABLE [dbo].[sucursales]  WITH CHECK ADD  CONSTRAINT [fk_sucursales_zona_ubigeos] FOREIGN KEY([zona_ubigeo_id])
REFERENCES [dbo].[zona_ubigeos] ([id])
GO
ALTER TABLE [dbo].[sucursales] CHECK CONSTRAINT [fk_sucursales_zona_ubigeos]
GO
ALTER TABLE [dbo].[zona_ubigeos]  WITH CHECK ADD  CONSTRAINT [fk_ubigeo_id] FOREIGN KEY([ubigeo_id])
REFERENCES [dbo].[ubigeos] ([id])
GO
ALTER TABLE [dbo].[zona_ubigeos] CHECK CONSTRAINT [fk_ubigeo_id]
GO
ALTER TABLE [dbo].[zona_ubigeos]  WITH CHECK ADD  CONSTRAINT [fk_zona_id] FOREIGN KEY([zona_id])
REFERENCES [dbo].[zonas] ([id])
GO
ALTER TABLE [dbo].[zona_ubigeos] CHECK CONSTRAINT [fk_zona_id]
GO
USE [master]
GO
